@font-face {
  font-family: 'GameFont';
  font-style: normal;
  font-display: swap;
  src: url(assets/Game.ttf) format('truetype');
}

@font-face {
  font-family: 'GameFontBold';
  font-style: normal;
  font-display: swap;
  src: url(assets/game2.ttf) format('truetype');
}

#name {
  font-size: 35px;
  width: 600px;
  height: 30px;
  top: 50%;
}

.game-category {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px; /* Adjust as needed */
}

#spons {
  position: fixed;
  left: 65%;
  margin-right: 10%;
  top: 1%;
}

#bgidkdoxr {
  position: fixed;
  right: 50%;
  top: 12.5%;
  z-index: 99998;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 100px;
  border-radius: 2rem;
  background-color: #292541;
  display: flex;
  justify-content: center;
  align-items: center;
}

#announcements {
  position: fixed;
  left: 80%;
  top: 5%;
  z-index: 99998;
  width: 200px;
  height: 100px;
  border-radius: 2rem;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background-color: #2b2a2c;
}

#name {
  font-size: 35px;
  width: 600px;
  height: 30px;
  top: 50%;
}

/* #menu {
  position: fixed;
  background-color: red;
  z-index: 0;
  right: 0%;
  top: 12.5%;
  width: 450px;
  height: 100px;
} */

body {
    font-family: 'GameFont', sans-serif;
    text-align: center;
    height: 100vh;
    background-color: #000;
    overflow-x: hidden;
    color: white;
  user-select: none;
}

navbar {
  position: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

main {
  margin-top: 150px;
}


[game] {
  border-radius: 1rem;
  margin-top: 10px;
}

[game]:hover {
}

[next] {
  margin-left: 20px;
}

h1 {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'GameFontBold', sans-serif;
    font-size: calc(30px + 5vw);
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-shadow: 0 0 0.15em #1da9cc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s infinite;
    top: 0%;
}

h1 span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

@keyframes shake{5%,15%,25%,35%,55%,65%,75%,95%{filter:blur(.018em);transform:translateY(.018em)rotate(0deg)}10%,30%,40%,50%,70%,80%,90%{filter:blur(.01em);transform:translateY(-.018em)rotate(0deg)}20%,60%{filter:blur(.03em);transform:translate(-.018em,.018em)rotate(0deg)}45%,85%{filter:blur(.03em);transform:translate(.018em,-.018em)rotate(0deg)}100%{filter:blur(.007em);transform:translate(0)rotate(-.5deg)}}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  cursor: none;
}

.cursor {
  z-index: 99999;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid white;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  z-index: 99999;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: white;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.cursorinnerhover {
  z-index: 99999;
  width: 50px;
  height: 50px;
  opacity: .5;
}

#particles-js {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
